# Local Docker Neo4j Connection
NEO4J_URI=bolt://localhost:7687
NEO4J_USER=neo4j
NEO4J_PASSWORD=your-neo4j-password
LANGSMITH_TRACING=true
LANGSMITH_PROJECT=biosciences-deepagents
LANGSMITH_API_KEY=your-langsmith-api-key

BIOGRID_API_KEY=your-biogrid-api_key
NCBI_API_KEY=your-ncbi-api_key

OPENAI_API_KEY=your-openai-api_key
GOOGLE_API_KEY=your-google-api_key
ANTHROPIC_API_KEY=your-anthropic-api_key